dist: bionic
sudo: true
language: cpp
os: linux

addons:
  apt:
    - lcov
    - gcovr
  sonarcloud:
    organization: "trasterlabs"

before_install:
 - pip install gcovr

cache:

script:
 - chmod +x ./lib/local_googletest_scripts/get-nprocessors.sh
 - chmod +x ./lib/local_googletest_scripts/travis.sh
 - sh ./lib/local_googletest_scripts/travis.sh
 - build-wrapper-linux-x86-64 --out-dir bw-output make
 - sonar-scanner -Dsonar.cfamily.build-wrapper-output=bw-output

after_success:
